body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

#level-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6px
}
#level-2 > .peas {
  grid-column: 1 / 3;
  grid-row: 1 ;
}

#level-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto ;
}

#level-3 > .carrots{
  grid-column: 1/-1 ;
  grid-row: 3;
}

#level-3 > .onions{
  grid-column: 2 /4;
  grid-row: 1 ;
}

#level-3 > .tomatoes{
  grid-column: 1 / 3;
  grid-row: 2;
}

#level-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#level-4 .peas{
  grid-column: 1/3;
  grid-row: 1;
}

#level-4 .onions{
  grid-column: 3;
  grid-row: 1 / 3;
}
#level-4 .carrots{
  grid-column: 4; 
  grid-row: 1/3;
}

#level-5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#level-5 > .carrots{
  grid-column: 1;
  grid-row: 1/4 ;
}
#level-5 > .tomatoes{
  grid-column: 2 / 5;
  grid-row: 3;
}

#level-5 > .onions{
  grid-column: 3;
  grid-row: 1/3;
}

#level-5 .peas{
  grid-column: 4/6;
  grid-row: 2;
}

#level-5 > .lettuce{
  grid-column: 5;
}

#level-6{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#level-6 > .carrots{
  grid-row: 1;
  grid-column: 1 / 6;
}

#level-6 > .lettuce{
  grid-row: 4;
  grid-column: 1/6;
}

#level-6 > .onions{
  grid-row: 2/4;
}

#level-6 > .tomatoes{
  grid-column: 5/6;
  grid-row: 2/4;
}

#level-6 > .peas{
  grid-column: 2 /5 ;
  grid-row: 2/4;
}


#level-7 {
  display: grid;
  grid-template-columns: repeat(5,minmax(5ch,1fr));
  grid-template-rows: 1;
}

#level-8 {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15ch, 15ch));
   grid-auto-rows: 5ch;
}

#level-9{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: minmax(5rem, auto);
}