body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

#level-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 6px
}
#level-2 > .peas {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

#level-3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto ;
}

#level-3 > .carrots{
  grid-column: 1/-1 ;
  grid-row: 3;
}

